*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

*.mo

.mr.developer.cfg
.project
.pydevproject
tmp/
log/
logs/
img/
*.log
_site
apps
.DS_STORE
.idea/
env/
config.py
private_config.py

# test
test.py
test1.py
test*.py
*.json